// _variables.scss
$primary-color: #23272F; // Dark background
$secondary-color: #149ECA; // Light blue highlight
$third-color: #1C1E21; // Main background color
$text-color: #FFFFFF; // White text
$text-color-muted: #B0B8C1; // Muted text color
$border-color: #343A46; // Border color
$accent-color: #E6F7FF; // Light accent color