@import 'variables';

.dashboard {
  .dashboard-options {
    .btn {
      background-color: $primary-color;
      font-size: x-large;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      &.active {
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .watchlist-content {
    .watchlist-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .create-watchlist-btn,
  .customize-metrics-btn {
    background-color: $secondary-color;
    color: white;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
    &:disabled {
      background-color: lighten($secondary-color, 30%);
      cursor: not-allowed;
    }
  }
}
