.watchlist {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.watchlist h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.watchlist ul {
  list-style: none;
  padding: 0;
}

.watchlist ul li {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.watchlist ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}


.stock-neutral {
  background-color: #6c757d;
}



.search-bar-input {
  width: 100%;
  padding: 10px;
}

.search-list img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.search-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-items li {
  list-style: none;
  margin-right: 10px;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  max-width: 300px;
  top: 50%;
  left: 0;
  transform: translateY(-25%);
  background-color: #ffffff;
}

.draggable {
  position: absolute;
  cursor: move;
  z-index: 1000;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.draggable-header {
  cursor: move;
  background: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}
